html,
body,
#app {
  width: 100%;
  margin: 0;
  padding: 0;
}

.box-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
  font-size: 12px !important;
}
.el-breadcrumb {
  margin-bottom: 15px;
}

.el-pagination {
  margin-top: 10px;
}

.el-radio__inner {
  border-radius: 0;
  border: 0;
  width: 170px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  top: -18px;
  left: -19px;
}

.el-radio__input.is-checked .el-radio__inner {
  background: transparent;
}

.el-steps{
  margin: 20px;
}

.ql-editor {
  min-height: 300px !important;
}